/*======== SINGLE REQUEST ========*/
.request .request-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request .request-heading p {
	margin: 0;
}

.request h2 {
	text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #bdbdbd;
    padding: 7px;
    margin: 0;
}
.request h5 {
	margin-bottom: .25em;
}
.request table {
	margin-bottom: 0;
}
	.request th {
		text-align: center;
		background-color: #eee;
		font-weight: 600;
	}
.request section {
	margin-bottom: 3em;
}

/* Data table */
#request-data-table {
	margin-bottom: 1em;
}
	#request-data-table td,
	#available-agents-table td {
		text-align: center;
	}

.available-agents {
	max-height: 220px;
	overflow-y: scroll;
}
	#available-agents-table .agent-name {
		cursor: pointer;
		color: #13aef0;
		font-weight: 600;
		transition: .75s;
	}
	#available-agents-table .agent-name:hover {
		opacity: .75;
	}
		#available-agents-table td:last-child {
			min-width: 100px;
		}

/* Detailed Agent */
.detailed-agent {
	border: 1px solid #ccc;
}
	.detailed-agent .image-wrap {
		width: 215px;
		height: 215px;
		overflow: hidden;
	}
	.detailed-agent #detailed-content {
		padding: 15px;
	}
		.detailed-agent button {
		    display: block;
		    margin: 2em auto;
		}
		.detailed-agent h3 {
			margin-bottom: 0;
		}
		.detailed-agent .info {
			margin-top: 1em;
			margin-bottom: 2em;
		}
			.detailed-agent .info p {
				margin-bottom: 0;
			}

		.detailed-agent .preferences {
			margin-bottom: 2em;
		}
			.detailed-agent .preferences ul {
				padding: 0;
				margin: 0;
				list-style: none;
				margin-bottom: .5em;
			}

/* Selected Agents */
.selected-agents {
	/*border: 1px solid #ccc;*/
}
	#selected-agents > .row {
		padding: 15px 0;
		margin: 0 -5px;
	}
		#selected-agents > .row > .col-12 {
			padding: 0 5px;
		}

			.selected-agents .row > div > .row {
				min-height: 150px;
    			border: 1px solid #ccc;
			}
				.selected-agents .img-wrap {
					height: 130px;
					overflow: hidden;
				}
				.selected-agents .actions {
					margin-top: auto;
				}
	#selected-agents h4 {
		margin-bottom: .25em;
	}
	#selected-agents p {
		line-height: 1;
		margin-bottom: 3px;
	}

/* Send to customer */
.request .send-button {
	text-align: center;
}
	#send_to_customer {
		padding: 6px 35px;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 2em;
	}

	
@media only screen and (max-width: 760px){
	.request .agents-search .search-form .fields-wrap.two-cols, 
	.agents-search-tool .search-form .fields-wrap.two-cols {
		flex-basis: 100%;
	}

	.request .selected-agents .img-wrap {
		text-align: center;
	}
		.request .selected-agents .img-wrap img {
			height: 100%;
		}
}