@media only screen and (max-width: 760px){
	.agents-search-tool table tr th:first-child, 
	.agents-search-tool table tr td:first-child {
		padding-left: 10px;
	}

	.agents-search-tool tr {
		margin-bottom: 2rem;
	}
}