/*
Theme Name: OceanWP Child
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme example child theme.
Author: Nick
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

/*======== GENERAL ========*/
#main #content-wrap {
    padding: 0;
}
.invisible {
	visibility: hidden;
	opacity: 0;
	height: 0;
	overflow: hidden;
	/*position: absolute;*/
	margin: 0 !important;
}

/*======== HEADER ========*/
#site-navigation-wrap .dropdown-menu>li>a {
	line-height: 34px;
	padding-top: 20px;
}
	.sf-menu ul.sub-menu {
    	top: 90%;
	}


/*======== INFO MESSAGES ========*/
.message {
    margin: 2em 0 3em;
    font-weight: 600;
}
	.message > p {
		position: relative;
	    padding: .75rem 1.25rem;
	    margin-bottom: 1rem;
	    border: 1px solid transparent;
	    border-radius: .25rem;
	}
	.message .success {
		color: #155724;
	    background-color: #d4edda;
	    border-color: #c3e6cb;
	}
	.message .error {
		border-color: #d23535;
    	color: #d23535;
	}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.email-status,
.agent-status {
	padding: 5px;
    background-color: #222;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    line-height: 1;
    font-size: 12px;
    display: block;
    margin: 0;
    margin-top: .5rem;
}
	.email-status.confirmed,
	.agent-status.active {
		background-color: #7fc37f;
	}
	.email-status.not-confirmed,
	.agent-status.inactive {
		background-color: #d28888;
	}

/*======== POPUP NOTIFICATIONS ========*/
.agents-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90%;
    text-align: center;
    background-color: #fff;
    padding: 3em;
    border-radius: 20px;
    z-index: 9999;
}
	.agents-popup a.close {
		background-color: #1fa8a5;
	    padding: 7px 15px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 18px;
	    border-radius: 5px;
	}
.agents-popup-overlay {
	position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: .5;
}

@media screen and (max-width: 600px){
	.agents-popup {
	    padding: 2em;
	}
	.agents-popup h2 {
		font-size: 2.5rem;
	}
}


/*======== FORMS ========*/

input[type="text"] {
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


form input[type="number"] {
    max-width: none;
}

form select {
	height: 40px;
}

label {
	font-weight: 600;
}

/* CF7 */
div.wpcf7 {
	max-width: 800px;
	margin: auto;
}
	div.wpcf7 .intro,
	div.wpcf7 .out-text {
		margin: 20px 0;
	}

	div.wpcf7 div:not(.intro) p {
		margin-bottom: 0;
	}

	div.wpcf7 .fields-group > div {
		margin-bottom: 20px;
	}

	div.wpcf7 .wpcf7-form-control,
	div.wpcf7 .fields-group {
		
	}

	div.wpcf7 .fields-group {
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}
		div.wpcf7 .fields-group > div,
		div.wpcf7 .fields-group > label,
		div.wpcf7 .d-flex > p {
			width: 100%;
		}
		div.wpcf7 .width-50 {
			flex-basis: 49%;
		}
		div.wpcf7 .width-100 {
			flex-basis: 49%;
		}
			div.wpcf7 h4 span {
				color: red;
			}
			.wpcf7 .wpcf7-checkbox .wpcf7-list-item {
				width: 100%;
				margin-left: 0;
			}
				.wpcf7 .wpcf7-checkbox .wpcf7-list-item input {
					-webkit-appearance: checkbox !important;
					-moz-appearance: checkbox !important;
					appearance: checkbox !important;
				}
					.wpcf7 .wpcf7-checkbox .wpcf7-list-item input::before,
					.wpcf7 .wpcf7-checkbox .wpcf7-list-item input:checked::before,
					.wpcf7 .wpcf7-checkbox .wpcf7-list-item input::after,
					.wpcf7 .wpcf7-checkbox .wpcf7-list-item input:checked::after {
						display: none;
					}
				.wpcf7 .wpcf7-checkbox .wpcf7-list-item label{
					font-weight: 400;
				}
	div.wpcf7 .d-flex label {
		flex-basis: 100%;
	}

	.wpcf7-acceptance {
		margin-bottom: 4rem;
		margin-top: 2rem;
		display: inline-block;
	}
	.wpcf7-acceptance .wpcf7-list-item {
		margin: 0;
	}

	.agent-company-address-street,
	.agent-company-address-suite,
	.agent-company-address-city,
	.agent-company-address-state {
		margin-bottom: .5rem;
		display: block;
	}

.contact-form label {
	text-align: left;
    display: inline-block;
    width: 100%;
}
.contact-form input, 
.contact-form textarea {
	font-weight: 400;
}
.contact-form .wpcf7-form-control.wpcf7-submit {
	display: inline-block;
    font-family: inherit;
    background-color: #13aff0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: 600;
    height: auto !important;
}


/* ACF Forms */
.edit .acf-fields {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.edit .acf-fields::after{
	display: none;
}
.edit .acf-fields > .acf-field {
	width: 100%;
	margin-bottom: 1em;
	border: 0;
	padding: 0;
}
.edit .acf-field label {
	font-weight: 600;
}
.edit .acf-field-message label {
	font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
}
.edit .acf-field-group .acf-fields {
	padding: 15px;
}

.edit .acf-fields>.acf-tab-wrap {
	background: transparent;
    margin-bottom: 20px;
    flex-basis: 100%;
}
	.edit .acf-fields>.acf-tab-wrap .acf-tab-group {
		border-bottom: 0;
		padding: 0;
	}
		.edit .acf-tab-group li {
    		border: 1px solid #13aff0;
		}
			.edit .acf-fields>.acf-tab-wrap .acf-tab-group li a {
				background: transparent;
			    border: 0;
			    color: #13aef0;
			}
			.edit .acf-fields>.acf-tab-wrap .acf-tab-group li.active a {
			    background: #13aef0;
			    color: white;
			}
@media screen and (max-width: 768px) {
	.edit .acf-tab-group li {
		margin-bottom: 1rem;
	}
}

/*=== Search Form ===*/
/* Search Agent */
.request .agents-search {
	border: 1px solid #ccc;
}
.agents-search-tool .search-form {
	border: 1px solid #ccc;
	padding: 15px;
}
	.request .agents-search .search-form {
		padding: 15px;
		display: none;
	}
	.request .agents-search h2 {
		text-decoration: underline;
		cursor: pointer;
	}
	.request .agents-search h2 i {
		display: inline-block;
	    margin: 0 10px;
	    font-size: 24px;
	    line-height: 1;
	    font-weight: 600;
	    vertical-align: middle;
	}
	.request .agents-search h2 i.fa-angle-up {
		display: none;
	}
	.request .agents-search h2.opened i.fa-angle-up {
		display: inline-block;
	}
	.request .agents-search h2.opened i.fa-angle-down {
		display: none;
	}

	.request .agents-search .search-form.show {
		display: block;
	}
		.request .agents-search form,
		.agents-search-tool .search-form form {
			display: flex;
    		flex-wrap: wrap;
    		justify-content: space-between;
		}
			.request .agents-search .search-form .fields-wrap,
			.agents-search-tool .search-form .fields-wrap {
				margin-bottom: 20px;
			}
			.request .agents-search .search-form .fields-wrap.two-cols,
			.agents-search-tool .search-form .fields-wrap.two-cols {
				flex-basis: 48%;
			}
			.request .agents-search .search-form .fields-wrap.one-col,
			.request .agents-search .search-form .btn-wrap.one-col,
			.agents-search-tool .search-form .fields-wrap.one-col,
			.agents-search-tool .search-form .btn-wrap.one-col {
				flex-basis: 100%;
			}
				.request .search-form label,
				.agents-search-tool .search-form label {
					display: block;
				}
				.request .search-form input[type="text"],
				.agents-search-tool .search-form input[type="text"] {
					flex-basis: 58%;
				}
				/*.request .search-form button,
				.agents-search-tool .search-form button {
					flex-basis: 10%;
				    border: 0;
				    color: white;
				    padding: 6px;
				    text-transform: uppercase;
				    border-radius: 3px;
				}*/
				.request .search-form .btn-wrap,
				.agents-search-tool .search-form .btn-wrap {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
				}

				.request .search-form .btn,
				.agents-search-tool .search-form .btn {
					margin: 0 1rem;
			    	box-shadow: none;
		    		border-radius: 5px;
				}
				.request .search-form .btn-secondary,
				.agents-search-tool .search-form .btn-secondary {
					background-color: #b9b9b9;
				}
			.request .agents-search .search-form .btn-wrap,
			.agents-search-tool .agents-search .search-form .btn-wrap {
				text-align: center;
			}

/*======== BUTTONS ========*/
button {
	transition: all .3s;
	border: 0;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 6px;
}

.btn, a.btn, .elementor a.btn {
	border: 0;
    color: white;
    padding: 12px 25px;
    /*border-radius: 50px;*/
    box-shadow: 2px 2px 15px #ccc;
	text-transform: uppercase;
	transition: all .3s;
	display: inline-block;
}
.btn:hover {
	color: white;
}

.btn.alt, a.btnalt, .elementor a.btn.alt {
	background-color: transparent;
	border: 1px solid;
}

.btn.primary,
button.primary {
    background-color: #13aff0;
    border-color: #13aff0;
    color: white;
}
.btn.alt.primary,
button.alt.primary {
    color: #13aff0;
}
.btn.primary:hover,
button.primary:hover {
	background-color: #0b7cac;
	border-color: #0b7cac;
}

.btn.success,
button.success {
	background-color: green;
	border-color: green;
	color: white;
}
button.success.primary {
	cursor: not-allowed;
}
.btn.alt.success {
	color: green;
}

.btn.danger,
button.danger {
	background-color: #e4484e;
	border-color: #e4484e;
	color: white;
}
.btn.alt.danger {
	color: red;
}

.btn.success:hover,
button.success:hover,
.btn.danger:hover,
button.danger:hover {
	opacity: .75;
}

/*======== APPLICATIONS LIST ========*/


/*======== AGENTS LOOP ========*/
.agents-search-tool table {
	margin-top: 3em;
}
	.agents-search-tool table th {
		vertical-align: middle;
		font-weight: 600;
	}
		.agents-search-tool table th.zip,
		.agents-search-tool table th.preferences,
		.agents-search-tool table th.property-value {
			width: 150px;
		}
	.agents-search-tool table td {
		word-break: break-word;
	}
		.agents-search-tool table td a {
    		text-decoration: underline;
		}
		.agents-search-tool table td a.remove {
    		color: #d23535;
		}
		.agents-search-tool table td.status {

		}
			.agents-search-tool table td.status.active {

			}

/*=== Edit Agent Account ===*/
.edit-account .form-submit {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
	.edit-account .form-submit .delete {
		background-color: #d23535;
	}


/*======== REQUESTS LOOP ========*/
/*=== Requests Filter ===*/
.requests-form {
	margin-bottom: 3em;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
	.requests-form .form-group {
	    flex-basis: 32%;
	}
	.requests-form .form-group:nth-of-type(2){
		border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	    padding: 0 1%;
	    margin: 0 1%;
	}
		.requests-form .btn {
			flex-basis: 20%;
			margin: 0 1rem;
	    	margin-top: 2em;
	    	box-shadow: none;
    		border-radius: 5px;
		}
		.requests-form .btn[name="clear"]{
			background-color: #b9b9b9;
		}
	.requests-form .result {
		margin: 0;
	    margin-top: 5px;
	    font-size: 12px;
	    font-weight: 600;
	}

/*=== Requests Table ===*/
.requests table td {
	vertical-align: middle;	
}
	.requests table .address {
		width: 200px;
	}

	.requests table .price {
		width: 150px;
	}

	.requests table .action a {
	    background-color: #13aff0;
	    color: #fff;
	    padding: 3px 10px;
	    border-radius: 5px;
	    vertical-align: middle;
	}


/*=== Requests Pagination ===*/
.requests .pagination ul {
	text-align: center;
}
	.requests .pagination ul li {
		display: inline-block;
    	margin: 0 1em;
		font-size: 18px;
	}


/*======== MODULES ========*/
/* Testimonials*/
.testimonials-section {
	margin: 2em 0;
}
	.testimonials .testimonial-wrap {
    	padding: .75em;
	}
		.testimonials .testimonial {
			background-color: white;
			border: 1px solid #666;
    		border-radius: 5px;
		    padding: 1em;
		    height: 100%;
		}
			.testimonials .testimonial .author_name {
				font-size: 1.2em;
			    text-align: right;
			    margin-top: .5em;
			}
	.testimonials .slick-arrow {
	    position: absolute;
	    top: 40%;
	    background-color: transparent;
	    width: 40px;
	    height: 25px;
	    color: #666;
	    font-size: 2em;
	    transform: scaleY(2);
	}
	.testimonials .slick-arrow:hover {
		opacity: .75;
	}
	.testimonials .slick-next {
	    right: -1.25em;
	}
	.testimonials .slick-prev {
	    left: -1.5em;
	}


/* Socals */
.socials {
    padding: 0;
    list-style: none;
    margin: .5em 0;
}
	.socials li {
		display: inline-block;
		margin-right: 5px;
		font-size: 16px;
	}
	.socials ul li.facebook a {
		color: #3b5998;
	}
	.socials ul li.youtube a {
		color: #ff0000;
	}
	.socials ul li.instagram a {
		color: #000;
	}
	.socials ul li.twitter a {
		color: #1da1f2;
	}
	.socials ul li.zillow a {
		color: #1277e1;
	}
	.socials ul li.linkedin a {
		color: #1da1f2;
	}

/* Yelp Rating */
.biz-rating.biz-rating-very-large {
	margin: 0;
}
.biz-rating-very-large .rating-very-large {
    margin: -4px 12px 0 0;
}
.rating, .rating-large, .rating-very-large {
    position: relative;
    overflow: hidden;
}
.rating-qualifier {
	display: inline-block;
    color: #666;
    font-weight: normal;
	margin-top: -4px;
}
.biz-page-header .review-count {
    position: relative;
}
.offscreen {
    clip: rect(0 0 0 0);
    position: absolute;
    left: -9999px;
    top: auto;
    overflow: hidden;
    width: 1px;
    height: 1px
}

.i-stars {
    background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) no-repeat;
    background-size: 132px 560px;
    display: inline-block;
    vertical-align: middle;
}

@media print {
    .i-stars {
        background-image: none !important
    }

    .i-stars img {
        position: relative;
        width: auto;
        height: auto
    }
}

.i-stars--small-0 {
    width: 82px;
    height: 14px;
    background-position: 0 -420px
}

@media print {
    .i-stars--small-0 img {
        left: 0;
        top: -420px
    }
}

.i-stars--small-1 {
    width: 82px;
    height: 14px;
    background-position: 0 -434px
}

@media print {
    .i-stars--small-1 img {
        left: 0;
        top: -434px
    }
}

.i-stars--small-1-half {
    width: 82px;
    height: 14px;
    background-position: 0 -448px
}

@media print {
    .i-stars--small-1-half img {
        left: 0;
        top: -448px
    }
}

.i-stars--small-2 {
    width: 82px;
    height: 14px;
    background-position: 0 -462px
}

@media print {
    .i-stars--small-2 img {
        left: 0;
        top: -462px
    }
}

.i-stars--small-2-half {
    width: 82px;
    height: 14px;
    background-position: 0 -476px
}

@media print {
    .i-stars--small-2-half img {
        left: 0;
        top: -476px
    }
}

.i-stars--small-3 {
    width: 82px;
    height: 14px;
    background-position: 0 -490px
}

@media print {
    .i-stars--small-3 img {
        left: 0;
        top: -490px
    }
}

.i-stars--small-3-half {
    width: 82px;
    height: 14px;
    background-position: 0 -504px
}

@media print {
    .i-stars--small-3-half img {
        left: 0;
        top: -504px
    }
}

.i-stars--small-4 {
    width: 82px;
    height: 14px;
    background-position: 0 -518px
}

@media print {
    .i-stars--small-4 img {
        left: 0;
        top: -518px
    }
}

.i-stars--small-4-half {
    width: 82px;
    height: 14px;
    background-position: 0 -532px
}

@media print {
    .i-stars--small-4-half img {
        left: 0;
        top: -532px
    }
}

.i-stars--small-5 {
    width: 82px;
    height: 14px;
    background-position: 0 -546px
}

@media print {
    .i-stars--small-5 img {
        left: 0;
        top: -546px
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .i-stars {
        background-image:url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/de2252bea656/assets/img/stars/stars@2x.png);
    }
}

/* Zillow Rating */
@font-face{
	font-family:zmod-icon-set1;
	src:url(assets/fonts/zmod-icon-set.eot);
	src:url(assets/fonts/zmod-icon-set.eot?#iefix) format("embedded-opentype"),
		url(assets/fonts/zmod-icon-set.woff) format("woff"),
		url(assets/fonts/zmod-icon-set.ttf) format("truetype"),
		url(assets/fonts/zmod-icon-set.svg#v22) format("svg");
	font-weight:400;
	font-style:normal
	}
.zillow-rating {
    margin-bottom: 20px;
}
.zsg-rating {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.zsg-rating:before{
	color:#3DCA5A;
	font-family: zmod-icon-set1, serif;
	font-size: 16px;
	speak:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	letter-spacing:1px;
}
.zsg-rating.zsg-rating_000:before{content:"\e043\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_025:before{content:"\e045\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_050:before{content:"\e046\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_075:before{content:"\e047\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_100:before{content:"\e044\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_125:before{content:"\e044\e045\e043\e043\e043"}
.zsg-rating.zsg-rating_150:before{content:"\e044\e046\e043\e043\e043"}
.zsg-rating.zsg-rating_175:before{content:"\e044\e047\e043\e043\e043"}
.zsg-rating.zsg-rating_200:before{content:"\e044\e044\e043\e043\e043"}
.zsg-rating.zsg-rating_225:before{content:"\e044\e044\e045\e043\e043"}
.zsg-rating.zsg-rating_250:before{content:"\e044\e044\e046\e043\e043"}
.zsg-rating.zsg-rating_275:before{content:"\e044\e044\e047\e043\e043"}
.zsg-rating.zsg-rating_300:before{content:"\e044\e044\e044\e043\e043"}
.zsg-rating.zsg-rating_325:before{content:"\e044\e044\e044\e045\e043"}
.zsg-rating.zsg-rating_350:before{content:"\e044\e044\e044\e046\e043"}
.zsg-rating.zsg-rating_375:before{content:"\e044\e044\e044\e047\e043"}
.zsg-rating.zsg-rating_400:before{content:"\e044\e044\e044\e044\e043"}
.zsg-rating.zsg-rating_425:before{content:"\e044\e044\e044\e044\e045"}
.zsg-rating.zsg-rating_450:before{content:"\e044\e044\e044\e044\e046"}
.zsg-rating.zsg-rating_475:before{content:"\e044\e044\e044\e044\e047"}
.zsg-rating.zsg-rating_500:before{content:"\e044\e044\e044\e044\e044"}

.zillow-rating span {
	vertical-align: middle;
}

/*======== RESPONSIVE ========*/
/*=== Typography ===*/
@media only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/* Single Request */
	.request .search-form label,
	.request .search-form input[type="text"],
	.request .search-form button {
		flex-basis: 100%;
	}

	.selected-agents .row > div > .row {
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 480px) {
	/* Single Request */
	.detailed-agent .info p {
		flex-basis: 100%;
	}
}


/* 404 PAGE */
.error404-content {
	padding: 8rem 0;
}
